<div class="row">
    <h1>About Oasis Title Company</h1>
    <div class="text-center">
      <%= image_tag('office.jpg', class: "img-responsive") %>
    </div>
    <div class="col-md-8 col-md-offset-2">
    <p>Oasis Title Company is a trusted Florida title company. Providing Florida real estate closings, title insurance, title searches, and escrow services since 2002, Oasis Title is owned by real estate attorney Lawrence Weisberg, Esq., founder and president of our sister company, Weisberg & Associates, P.A.
Oasis Title Company offers timely, strategic, and educated guidance in Florida real estate transactions. Whether you are a real estate investor, lender, Realtor, first time buyer, refinancing, persevering through a short sale, negotiating through a foreclosure, or closing on your dream home, now is the time to make a move before home prices and rates go up.</p>
<p>Oasis Title Company is dedicated to providing quality representation and personalized service. We offer our clients the benefits of a dedicated and knowledgeable staff.</p>
</div>
</div>