<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Closing Costs</h1>
    <h2>Closing Costs for Not Obtaining A Mortgage</h2>
    <p>In Florida, like elsewhere, most of your closing costs are incurred in connection with obtaining a mortgage. However, even if you are not obtaining a mortgage, you can expect the following closing costs:</p>
    <ol>
<li>      Inspection Fees: You will probably want a licensed inspection company to check out the roof structure and appliances as well as check for termites.</li>
<li>      Survey: You will want to make sure exactly what the boundaries are to your property and make sure that there are no unusual easements running through your property.</li>
<li>      Title Insurance: Title insurance provides you with a “deep pocket” and peace of mind if for some reason your title is no good or clouded.</li>
<li>      Casualty and Flood Insurance: Obviously, you want to protect your real estate investment from fire or storm.</li>
<li>      New Construction: Most developers/builders charge a closing fee of between 1.5% and 1.75% to cover the cost of Florida Documentary Stamp Taxes and Title Insurance.</li>
<li>      Closing Fee: Charged by the closing agent for closing on the property.</li>
<li>      Real Property Taxes and Homeowner Association Fees: These items need to be prorated at closing depending on the time of year.</li>
<li>      Title Examination: Charged by the closing agent for examining the status of title on the property.</li>
<li>      Re-certification Fee: Charged by title company for reviewing recorded deed and issuing title policy.</li>
    </ol>
    <h2>Closing Costs for Obtaining A Mortgage or Re-financing an Existing Mortgage</h2>
    <p>Most lenders will charge for many of these items. Be sure to request a Truth and Lending Disclosure form before committing to a loan. This disclosure form will tell you about all of your closing costs such as:</p>
    <ol>
<li>      Application Fee: Charged by lender; usually paid before closing; can range from $50 – $550.</li>
<li>      Underwriting Fees: Charged by Lender; the fee for approving the loan.</li>
<li>      Flood Certificate Fee: Charged by Lender to determine if property is in flood zone.</li>
<li>      Tax Service Fee: Charged by Lender to monitor payment of real property taxes.</li>
<li>      Loan Origination: Charged by Lender for giving you the loan.</li>
<li>      Loan Discount Fee: Charged by lender for reducing the interest rate on the loan.</li>
<li>      Document Preparation Fee: Charged by Lender for preparing loan documents.</li>
<li>      Escrow’s: Some lenders require you to escrow money in advance for real estate taxes and insurance.</li>
<li>      Prepaid Interest: If you close on any day other than the last day of the month, you will need to prepay interest for the rest of the month. Your next mortgage payment, however, won’t be due until 30 days after the 1st day of the following month.</li>
<li>      Settlement Fee: Charged by the closing agent for closing your loan.</li>
<li>      Title Insurance: Required by Lender to close. Big savings are available if closing on loan is coordinated with the purchase of the property.</li>
<li>      Intangible Taxes: .0020 % of loan amount charged by State of Florida at closing.</li>
<li>      Documenting Stamp Taxes: .0035% of loan amount charged by Florida at closing.</li>
    </ol>
  </div>
</div>