<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Glossary</h1>
    <h2>Abstract of Title</h2>
<p>A condensed history or summary of all transactions affecting a particular tract of land.</p>
<h2>Adjustable Rate Mortgages</h2>
<p>Mortgages with an interest rate that may change up or down depending on an indicator. These are usually based something like the current Treasury bill rate.</p>
<h2>Affidavit</h2>
<p>A sworn statement in writing.</p>
<h2>All-Inclusive Title insurance</h2>
<p>Florida Title Insurance that includes all charges in one price.</p>
<h2>Amortize</h2>
<p>To reduce a debt by means of regular periodic payments that include amounts applicable to both principal and interest.</p>
<h2>APR &#8211; Annual percentage rate</h2>
<p>Annual Percentage Rate, a measure of the cost of the credit that must be reported by lenders under Truth in Lending regulations. APR takes into account the interest rate and up-front charges paid by borrower. On some mortgages the APR is higher than your actual mortgage rate.</p>
<h2>Assumption</h2>
<p>A mortgage that allows a new owner to take over payments. The original borrower remains liable on the mortgage note.</p>
<h2>Deed</h2>
<p>A written document by which the ownership of land is transferred from one person to another.</p>
<h2>Deed of Trust</h2>
<p>Instrument used to secure a loan on real estate. Like a mortgage, a Deed of Trust is generally used in the South. The major difference is in how foreclosures are handled. Foreclosures are much faster with a Deed of Trust than with a mortgage.</p>
<h2>Deposit or Earnest Money</h2>
<p>Advance payment of part of the purchase price to bind a contract for property.</p>
<h2>Due-on-Sale Clause</h2>
<p>A provision in a mortgage or deed of trust that requires the loan to be paid in full if a property is a sold or transferred tract of land.</p>
<h2>Equity</h2>
<p>The interest or value that an owner has in real estate over and above the debts against it.</p>
<h2>Escrow</h2>
<p>(1) A procedure whereby a disinterested third party handles legal documents and funds on behalf of a seller and buyer. (2) Money that is kept by the mortgage company to ensure that taxes can be paid in full when due. Escrow is paid up-front on settlement sheet lines 1001 &#8211; 1006 and is added to the mortgage payment monthly over the principal and interest figure.</p>
<h2>FNMA (Fannie-Mae)</h2>
<p>The Federal National Mortgage Association, a federally sponsored private corporation which provides a secondary market for housing mortgages.</p>
<h2>Fixed Rate Mortgages</h2>
<p>Mortgages with a fixed interest rate. The payment for principal and interest will not change for the life of the loan, but the monthly payment may change if taxes or insurance rates change.</p>
<h2>FHA &#8211; The Federal Housing Administration</h2>
<p>An agency of the federal government that insures private loans for financing of new and existing housing and for home repairs under government approved programs.</p>
<h2>FHLMC (Freddie Mac) &#8211; Federal Home Loan Mortgage Corporation</h2>
<p>An affiliate of the Federal Home Loan Bank that creates a secondary market in conventional residential loan and FHA and VA loans by purchasing mortgages from members of the Federal Reserve System and the Federal Home Loan Bank System.</p>
<h2>Foreclosure</h2>
<p>Legal process by which a mortgagor of real property is deprived of his interest in that property due to failure to comply with terms and conditions of the mortgage.</p>
<h2>Grantee</h2>
<p>A person who acquires an interest in land by deed, grant or other written instrument.</p>
<h2>Grantor</h2>
<p>A person who, by a written instrument, transfers to another interest in land.</p>
<h2>Hazard insurance</h2>
<p>The homeowner&#8217;s insurance policy.</p>
<h2>Heir</h2>
<p>One who might inherit or succeed to an interest in lands under the rules of law applicable where an individual dies without leaving a will.</p>
<h2>In personam</h2>
<p>Directed at specific persons rather than against property or generally for all people.</p>
<h2>In rem</h2>
<p>Pertaining to property or people in general.</p>
<h2>Interest only payments</h2>
<p>A mortgage where only the interest is paid on a monthly basis. This means that the buyer gets no equity. This is only used on some purchase money mortgages where the buyer is responsible for paying the seller the entire amount of the second mortgage at some time in the future.</p>
<h2>Instrument</h2>
<p>A written document.</p>
<h2>Loan origination fees</h2>
<p>Money required by the lender to be paid to start the work of approving a mortgage.</p>
<h2>Judgment</h2>
<p>A decree of a court.</p>
<h2>Lien</h2>
<p>A hold, a claim or charge allowed a creditor upon the lands of a debtor.</p>
<h2>Mortgage Note</h2>
<p>An instrument used to encumber land as security for a debt. This document gives the mortgage company &#8220;in rem&#8221; jurisdiction over the mortgagor.</p>
<h2>Mortgagee</h2>
<p>A designation for the mortgage lender on property.</p>
<h2>Mortgagor</h2>
<p>A designation for the mortgage borrower on property.</p>
<h2>MIP</h2>
<p>Mortgage Insurance Protection.</p>
<h2>Note</h2>
<p>A written promise to pay a certain amount of money, at a certain time, or in a certain number of installments. It usually provides for payment of interest and its payment is at times secured by a mortgage.</p>
<ul>
<li>* The mortgage note document gives the mortgage company &#8220;in rem&#8221; jurisdiction over the mortgagor.</li>
<li>* The promissory note document gives the mortgage company &#8220;in person-am&#8221; jurisdiction over the mortgagor.</li>
</ul>
<h2>P.O.C.</h2>
<p>Paid outside of closing. Sometimes the lender requests this money before settlement. If you pay any charges before settlement they should be written on the settlement sheet. They are written on the proper line outside of your column. They should also be marked P.O.C.</p>
<h2>Point</h2>
<p>A percentage point. Equal to one percent of the loan amount.</p>
<h2>Power of Attorney</h2>
<p>An instrument authorizing another to act on one&#8217;s behalf as his agent or attorney.</p>
<h2>PMI</h2>
<p>Private mortgage insurance. PMI protects the lender from the losses that would occur in the case of foreclosure.</p>
<h2>PMM &#8211; Purchase Money Mortgage</h2>
<p>A mortgage given by the seller simultaneously with the purchase of real estate to secure the unpaid balance of the purchase price.</p>
<h2>Pro-Rate</h2>
<p>To allocate between seller and buyer their proportionate share of an obligation paid or due.</p>
<h2>Promissory Note</h2>
<p>A promise to pay. The promissory note document gives the mortgage company &#8220;in person-am&#8221; jurisdiction over the mortgagor.</p>
<h2>Real Property</h2>
<p>Land and that which is affixed to it.</p>
<h2>Reissue Rate</h2>
<p>Reduced rate of title insurance premium applicable in cases where the owner of the land has been previously insured in an owner&#8217;s policy by the insurer within a certain time.</p>
<h2>Second Mortgage</h2>
<p>Mortgage, the lien of which is subordinate to that of another mortgage.</p>
<h2>Survey</h2>
<p>The process of measuring land to determine its size, location and physical description and the resulting drawing or map.</p>
<h2>Tax Service Fee</h2>
<p>A fee paid to the mortgage company to verify that they actually pay the real estate taxes.</p>
<h2>Title</h2>
<p>The evidence or right a person has to the ownership and possession of land.</p>
<h2>Title Insurance</h2>
<p>Insurance against loss or damage resulting in defects or failure of title to a particular parcel of real property.</p>
<h2>Title Insurance Binder or Commitment</h2>
<p>A report issued by a title insurance company binding or committing the title insurance company to issue the form of policy designated in the commitment or binder upon compliance with and satisfaction of requirements set forth in the commitment or binder.</p>
<h2>Title Search</h2>
<p>An examination of public records and court decisions to disclose the current facts regarding ownership of real estate.</p>
<h2>Transfer taxes</h2>
<p>Money paid to the county and or state when property is sold.</p>
<h2>VA &#8211; The Veterans Administration</h2>
<p>The Veterans Administration insures mortgages. A VA Mortgage is a mortgage that is guaranteed by the Department of Veterans Affairs (VA). Also known as a government mortgage.</p>
<h2>Will</h2>
<p>A written document properly witnessed, providing for the distribution of property owned by the deceased.</p>
  </div>
</div>