<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Homeowner Services</h1>
    <h2>We Are More Than Just a Title Company</h2>
    <p>From start to finish we will answer all your questions and concerns about title insurance in Florida, and lead you every step of the way until you close. We handle residential title insurance and property title insurance:</p>
    <ul>
<li>      Whether you are purchasing a new home</li>
<li>      Refinancing your existing home loan</li>
<li>      With an Attorney</li>
<li>      Without an Attorney</li>
<li>      Lowest fees allowed</li>
    </ul>
    <h2>Let Us Hanle All Your Florida Title & Closing Needs</h2>
    <p>We are a Full Service Title, Escrow and Settlement Agency. This means we will:</p>
    <ul>
<li>      Explain the title and closing process</li>
<li>      Hold any escrows required for purchases or refinances</li>
<li>      Explain all costs and fees</li>
<li>      Work with your lender or attorney</li>
<li>      Provide you with a fast and seamless closing</li>
    </ul>
    <h2>Why do I need title insurance?</h2>
    <p>You could be wondering why you need to get title insurance. As a matter of fact, most people don’t even know what title insurance is for. They just think that it is something else that they have to pay for when they are buying a house. Title insurance is all about protection! Think about it, intelligent people don’t ever take huge chances on a lot of money just to save a little money.</p>
    <%= link_to "Learn more about Title Insurance", title_insurance_path %>
  </div>
</div>