<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Lender Services</h1>
    <h2>Lender and Broker Services</h2>
    <p>In addition to offering all the services previously mentioned, it is our goal to meet the needs and necessities of the mortgage brokers and lenders.</p>
    <h2>Lender Title Service: One Point of Contact</h2>
    <p>Lender’s one-point-of-contact, is a service formed to address the title and escrow needs of lender’s residential & commercial properties by providing centralized, one-point-of-contact lender title services.</p>
    <h2>Experienced, professional, friendly and accessible</h2>
    <p>Our Florida mortgage title insurance team is committed to providing the highest quality title, escrow and closing services available to the real estate lending industry today. Our Florida mortgage title insurance staff is experienced, professional, friendly, and accessible. Armed with the latest systems and technology tools, be assured that they are equipped to handle your transactions. The Goal is simple – Get the transaction Closed On Time, Every Time!</p>
    <h2>Established and Reliable</h2>
    <p>Our Florida title service of Oasis Title Company is built on a rock solid foundation – we have an established, successful history of writing title policies.</p>
    <h2>Ordering Florida Title Services</h2>
    <p>We’ve made ordering and delivery fast and convenient through a variety of electronic methods. Select from one of the ordering methods listed below and we will contact you within minutes of receiving your order.</p>
    <h2>Florida Statewide Title & Settlement</h2>
    <p>We are committed to providing Florida’s leading title services to originators of refinance, purchases and equity loans – rapidly, conveniently, efficiently. We cater especially to those lenders who have multiple orders in number of jurisdictions, or who need multiple title-related services. With Oasis Title Company’s services, one call does it all. Our network of offices, tied into our state-of-the-art electronic system, closes hundreds of orders per month statewide.</p>
    <p>Unlike most Title Companies, our founder and president is a real estate attorney, and utilizing the latest technology, we are able to process many of our title requests from lenders in-house ensuring a 48 hour turnaround time for a Title Commitment.</p>
  </div>
</div>