<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Our Role</h1>
    <p>The role and function of title and escrow services is to make sure that your real estate closing goes smoothly. Here are some of the details covered under Oasis Title Company’s services:</p>
    <ul>
      <li>Act as your escrow agent so your money is handled safely and professionally</li>
      <li>Serve as your depositor for all your funds and distribute your funds at real estate closing</li>
      <li>Review your title and clear any title defects</li>
      <li>Ensure that you are getting a title that is “free and clear” at your real estate closing</li>
      <li>Calculate any pro-rations for your taxes and/or Homeowner Association assessments</li>
      <li>Payoff any back liens on your property</li>
      <li>Conduct a smooth-prompt-professional real estate closing</li>
      <li>Sit down with you and fully explain any documents you are unsure of</li>
      <li>Sit down with you and make sure you feel comfortable and fully answer any questions you may have</li>
      <li>Record your documents for you</li>
      <li>Issue your title insurance policy</li>
      <li>Be your trouble shooter who finds potential problems and gets them solved</li>
      <li>Be a friend to you who is an expert in this field who guides you with impartial advise so you only make the best possible decisions</li>
    </ul>
  </div>
</div>