<div class="row" id="our_team">
  <div class="col-md-8 col-md-offset-2">
    <h1>Our Team</h1>
    <div class="row">
      <div class="col-md-5">
        <%= image_tag('larry.jpg') %>
        <strong><p>Lawrence M. Weisberg, Esq.</p></strong>
        <p>President/CEO</p>
        <p>Phone: (561) 352-7355 EXT 8103</p>
        <p>Fax: (561) 880-6570</p>
        <p>Email: larry@oasistitlecompany.com</p>
      </div>
      <div class="col-md-5 col-md-offset-2">
        <%= image_tag('eddie.jpg') %>
        <strong><p>Eddie Cruz</p></strong>
        <p>Partner</p>
        <p>Phone: (954) 740-4741</p>
        <p>Fax: (561) 880-6570</p>
        <p>Email: edward@oasistitlecompany.com</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <%= image_tag('yvette.jpg') %>
        <strong><p>Yvette Marshall</p></strong>
        <p>Paralegal</p>
        <p>Phone: (561) 362-7355 EXT 8003</p>
        <p>Fax: (561) 880-6570</p>
        <p>Email: yvette@oasistitlecompany.com</p>
      </div>
      <div class="col-md-5 col-md-offset-2">
        <%= image_tag('kevin.jpg') %>
        <strong><p>Kevin Matthews</p></strong>
        <p>Short Sale Specialist</p>
        <p>Phone: (561) 362-7355 EXT 8102</p>
        <p>Fax: (561) 880-6570</p>
        <p>Email:: kevin@oasistitlecompany.com</p>
      </div>
    </div>
  </div>
</div>