<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Realtor Services</h1>
    <p>In addition to offering all the services previously mentioned, it is our goal to meet the needs and necessities of the Realtors.</p>
    <p>Our company works diligently to meet the deadlines set in the purchase and sale contracts. We at Oasis Title Company understand that the positive experiences are what create the confidence in a company; that is why we offer unparalleled customer service with the Realtor always on our minds.</p>
    <p>This is also why we offer our short sale services at NO CHARGE to real estate agents! We know that you have many other expenses and do not want to add to them by charging $750-$1,500 in order to negotiate your client’s short sale.</p>
    <p>Unlike most Title Companies, our founder and president is a real estate attorney, and utilizing the latest technology, we are able to process many of our title requests from real estate agents in-house ensuring a 48 hour turnaround time for a Title Commitment.</p>
    <h2>Why us?</h2>
    <ul>
      <li>      Our services are FREE to homeowners</li>
      <li>      Sophisticated financial knowledge</li>
      <li>      Understand the lender’s language</li>
      <li>      Reliable Service</li>
      <li>      Accurate paperwork</li>
      <li>      Experienced Attorney</li>
      <li>      Strong Supportive Administration</li>
      <li>      Capability to Handle High Volume</li>
      <li>      Extremely High Success Rate</li>
      <li>      Strong Relationships with Lenders</li>
      <li>      Avoid the Time and Frustration of Tough Negotiations with Lenders</li>
    </ul>
    <h2>We Work to Maximize Your Commission</h2>
    <ul>
      <li>Boost your volume and close more deals</li>
      <li>      We will never take money from your commission</li>
      <li>      Avoid the time and frustration of tough negotiations with lenders</li>
      <li>      Help homeowners avoid foreclosure</li>
      <li>      Get the right results for you and your clients</li>
      <li>      Increase your bottom line</li>
    </ul>
  </div>
</div>