<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Real Estate Closings</h1>
    <p>Oasis Title Company is an attorney owned, Florida based Title Insurance Agency underwritten by Attorney’s Title Insurance Company (The Fund) and Old Republic Title Company, specializing as a full-service title company for both residential and commercial properties with the ability to handle title and closings throughout most of the United States.</p>
    <h2>REO Closings</h2>
    <p>Our company is staffed with experienced REO specialists which will work with Asset Managers and Lenders directly to get your transactions closed, while coordinating closing for the Buyer and the Buyers Lender.</p>
    <h2>Abstracting & Title Search</h2>
    <p>Backed up by the strength, knowledge and financial stability of Attorney’s Title Insurance Company and Old Republic National Title Company, all our title examinations are strictly performed. Having direct access to critical land records is the key in delivering the finest and most accurate title abstract. In addition and as current members of the American Land Title Association (ALTA), our title commitments are delivered in standard ALTA Commitment Form.</p>
    <h2>Mobile Closers</h2>
    <p>For added convenience, we offer mobile closing services upon request. Oasis Title Company has a vast network of mobile Closers available upon request. The closing will still be processed and scheduled from our main office and one of our mobile closers will be sent to perform the actual closing on the clients site. All of the Closers hold a Notary Public Commission for compliance with closing and notarization regulations.</p>
  </div>
</div>