<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Short Sale Services</h1>
    <p>Oasis Title Company’s Short Sale Services is a leading short sale processing firm that has assisted hundreds of property owners, real estate professionals and lenders in the complex business of approving and closing short sales. We have learned what banks are looking for which has helped us to receive bank approvals in the shortest amount of time. Our goal is to help property owners, real estate professionals, investors and lenders avoid the hassle and lengthy phone calls with the Lenders to get their discounted payoffs approved.</p>
    <h2>What will we do?</h2>
    <p>Once a realistic offer is made, Oasis Title Short Sale Services will submit the short sale package to the lender/lenders for them to approve the deal. This is a crucial step that requires high precision – even one piece of paper out of place in short sale package can result in a no-deal and big waste of time. Lenders have limited time to work through these packages; that is why if there’s something wrong, they’re likely to just put you back at the bottom of the pile. As our client, you will receive weekly email updates with your file status. We are constantly communicating with the lender in order to make sure our files are being processed and eventually approved in the shortest amount of time.</p>
    <h2>Why us?</h2>
    <ul>
      <li>Our Services are FREE to Real Estate Agents</li>
      <li>Reliable and Experienced Professionals</li>
      <li>24/7 Online Access to Status Updates</li>
      <li>Accurate Paperwork</li>
      <li>Capability to Handle High Volume</li>
      <li>Extremely High Success Rate</li>
      <li>Strong Relationships with Lenders & Attorneys Representing Lenders</li>
    </ul>
  </div>
</div>