<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Title Insurance</h1>
    <h2>Why Title Insurance?</h2>
    <p>You could be wondering why you need to get title insurance. As a matter of fact, most people don’t even know what title insurance is for. They just think that it is something else that they have to pay for when they are buying a house. Title insurance is all about protection! Think about it, intelligent people don’t ever take huge chances on a lot of money just to save a little money.</p>
    <h2>It just doesn't make sense! What do you mean?</h2>
    <p>You can bet that when you borrow money to buy a house that the bank is going to protect their interest by making sure that if there is anything wrong with the title to the house, they don’t get stuck. You should be thinking this way as well. The bottom line is – if something does go wrong – Let Someone Else Pay!</p>
    <h2>Who pays then, if not me?</h2>
    <p>When you are dealing with Oasis Title Company it means you only deal with the best of the best in title insurance. The whole idea is that if something bad does happen, then you want to make sure that the title insurance company that you are dealing with has the means to pay. So for your protection Oasis Title Company only deals with multi-billion dollar underwriters like:</p>
    <ul>
      <li>Old Republic National Title Insurance Company</li>
      <li>Attorney's Title Insurance Fund (The Fund)</li>
    </ul>
    <h2>What could go wrong?</h2>
    <p>Plenty! Let’s be frank…I don’t want to scare you but the truth is – real estate can be a pretty complicated thing with a lot of laws and “red tape” affecting the rights of a lot of people and who has a legal claim to a particular piece of property. Forgery, wills, fraud, mental incompetence, marriage and divorce, minors entering into contracts, and mistakes are all possible threats to your title being free and clear of claims by others.</p>
    <p>You should also be aware that the bank is going to be interested in protecting their portion of the asset, not yours. That is why you MUST protect your asset. If you don’t and something happens then you could lose your house and still have to pay for it or wind up ruining your good credit.</p>
    <h2>Let me give you an example...</h2>
    <p>Let’s say that you are going to purchase a home. You look around and find the perfect place. The price for the house is a half a million dollars. You have some cash in your pocket so you plunk down 20% of the selling price, or one hundred thousand dollars. You and your family move in and you are just ecstatic. Friends come over to the house during the house warming party and tell you how beautiful everything looks. You think everything is fine as you settle in to your new house and it begins to feel like a home.</p>
    <h2>Then something terrible happens</h2>
    <p>You hear people opening the front door. They come barging into your home yelling, “What are you doing in my house!” You see…it is their house and they can prove it. “How?” you say. Because, during the summer they went away on vacation for a few months and while they were gone, some con artists broke into the house and took it over. They got some fake identification made up, called up a Realtor and said they would like to sell their house. Trouble is they do sell it…TO YOU!</p>
    <h2>Your ecstacy turns to tragedy and now you have huge problems...</h2>
    <p>Who is going to pay for the real estate lawyers…you? If only you had taken out that title insurance when you had the opportunity you would be sleeping a lot better right now. Say goodbye to the $100,000.00 and say hello to a whooping note of $400,000.00 that you are still responsible for!</p>
    <p>“Come on, does that really happen?” You better believe it does – that and a whole lot more. You would be foolish not to protect yourself from the myriad of things that could and do happen when dealing with such large sums of money. There is an old saying that you have heard many times before – “Buyer beware!” When it comes to buying a house a better saying is “Buyer be protected!”</p>
    <p>If you didn’t know before, you certainly should understand now that title insurance is a MUST and is well worth the money you’ll spend. In return for that money you will get a lifetime of protection and peace of mind because as long as you own the property – you are protected and you will be able to sleep well at night knowing that if something does happen – you won’t be the one stuck holding the bag!</p>
  </div>
</div>