<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Title FAQ</h1>
    <p>What is a “Title?”</p>
<p>“Title” is the foundation of ownership property. A Florida title gives you a legal right to possess that property and to use it within the restrictions imposed by authorities or limitations on its use, superimposed on the basic right to possession by previous owners.</p>
<p></p>
<p>What is Title Insurance?</p>
<p>Title insurance is an insurance policy issued by an Insurance Underwriter, guaranteeing a buyer’s ownership and peaceful enjoyment against claims, liens or judgments associated with a property after the purchase is completed. Such insurance protects against losses arising from events occurring prior to the date of the policy. Unlike Real Property or Casualty Insurance where coverage starts on the day a policy is issued, title insurance being Indemnity Insurance causes coverage to stop on the day the policy is issued. Its coverage extends backward in time and guarantees that events prior to your ownership do not result in losses to you.</p>
<p></p>
<p>What is meant by “Title Defect?”</p>
<p>Anything in the entire ownership of a piece of real estate which may encumber the owner’s right to the “peaceful enjoyment” of the property or which may cause the owner to lose any portion of the property.</p>
<p></p>
<p>How much does Title Insurance cost?</p>
<p>The one-time premium is directly related to the value of your home. Typically, it is less expensive than your annual auto insurance. It is a one-time only expense, paid when you purchase your home. Yet it continues to provide complete coverage for as long as you, or your heirs, own the property.</p>
<p></p>
<p>Do I have to purchase Title Insurance?</p>
<p>Although highly recommended by experts, you do not have to purchase title insurance if the buyer is paying cash for a home. The vast majority of banks and other mortgage lenders, however, require that the borrower obtain a Lender’s Policy of Title Insurance equal to the loan amount.</p>
<p></p>
<p>If my title has been examined for defects, why do I need to purchase title insurance?</p>
<p>There are some title defects that cannot be uncovered with even the most thorough search. For example, a search will not uncover that a valid deed was indexed improperly in the land records. Title insurance will protect you from these types of defects.</p>
<p></p>
<p>What types of Title Insurance Policies are available?</p>
<p>In general, there are two different types of Title Insurance policies available. The Owner’s Title Insurance Policy which offers protection only to the owner against defects in their title to real estate. The Lender’s Title Insurance Policy is meant to insure and protect only the lenders’ loans against defects and losses until the mortgage is paid off. Consequently, a lender’s policy does not provide coverage to the owner in the absence of the owner’s policy. A new owner’s policy need not be necessary when refinancing an existing property, however the lender will require the purchase of a new lender policy.</p>
<p></p>
<p>Does the lender’s title insurance policy protect me?</p>
<p>No, the lender’s policy insures only the lenders interest in your property. A lender’s policy of title insurance protects the lender that financed your property. It insures them against a loss caused by defects in the owner’s title. You would lose your equity if you did not have an Owner’s Title Insurance policy.</p>
<p></p>
<p>What items are needed at closing?</p>
<p>You will want to have the following items complete or in hand when you come to the closing (please confirm with your escrow officer prior to closing):</p>
<p><strong>Buyers</strong></p>
<ul>
<li>Buyers copy of purchase agreement.</li>
<li>Cashiers check for amount needed to close. We will let you know what that amount is.</li>
<li>Proof of purchase of insurance for fire, casualty, etc.</li>
<li>Photo identification (passport, drivers license or state-issued identification card).</li>
</ul>
<p><strong>Sellers</strong></p>
<ul>
<li>Sellers copy of purchase agreement.</li>
<li>Any unrecorded instruments that affect the title.</li>
<li>Proof of satisfaction of any mechanics liens, chattel mortgages, judgments or mortgages that were paid prior to the closing.</li>
<li>Photo identification (passport, drivers license or state-issued identification card).</li>
</ul>
<p>What are the costs associated with Title Insurance?</p>
<p>Title Insurance costs may be broken down into two basic types: Fixed Costs and Variable Costs.</p>
<ul>
<li><strong>Fixed Costs</strong> (the largest component) typically represent the Title Insurance Premium (including any applicable Endorsements) paid one time based on the purchase/sale price of the property. Additionally, they also include factors such as Document Recording Fees, Stamp Fees, Intangible Taxes, City Assessment etc. These costs are formulated and regulated by the government and remain constant across all title insurance companies.</li>
<li><strong>Variable Costs</strong> (the smaller component) typically represent service charges including Search & Examination Fees, Processing & Settlement Fees, Mail/Wiring/Document Storage Handling Fees, Notary Charges etc. It is in this area where title agencies differentiate themselves. Additionally, they may also include factors such as applicable Survey Charges, Inspection and Appraisal Charges, Insurance Charges, Loan Cost etc. (all/most of these being usually performed independently and charged by outside service providers).</li>
</ul>
  </div>
</div>