<%= provide(:url, blog_post_path(@post)) %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1><%= @post.title %></h1>
    <%= render 'blog/posts/form' %>
    <h2><%= link_to "Delete post", blog_post_path(@post), method: :delete, data: {confirm: "Are you sure?"} %></h2>
  </div>
</div>