<h1>Oasis Title Company</h1>

<h2>Hello <%= @user.name %>,</h2>

<p>A new admin invite has been send to <%= @invitee.name %>. If this person accepts this invite they will now be a part of the admin team at Oasis Title Company. You can reach this potential new admin at <%= @invitee.email %>.</p>