<h1>Oasis Title Company</h1>

<h2>Hello <%= @user.name %>,</h2>

<p>A new admin at Oasis Title Company has been added. See below for their information:</p>

<ul>
  <li><%= @admin.name %></li>
  <li><%= @admin.email %></li>
</ul>