<h1>Hello <%= @user.name %></h1>,

<p>A new title order has been submitted through the Oasis Title Company website. To see the title order click the link below:</p>

<%= link_to "Title Order", title_order_url(@title_order) %>