<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="brokerage">
			<h2><%= @brokerage.name.capitalize %></h2>
			<p><%= @brokerage.address.formatted %></p>
			<p><%= @brokerage.license_number %></p>
		</div>
		<div class="agents">
		<h2>Agents</h2>
			<% @brokerage.agents.each do |agent| %>
				<p><%= link_to agent.full_name, agent_path(agent) %></p>
			<% end %>
		</div>
	</div>
</div>