@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc.*/

$gray-medium-light: #eaeaea;

@mixin box_sizing{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

.img-responsive{
  display:inline;
}

.checkbox input[type='checkbox']{
  margin-left: 0px;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* Menu */

.navbar-right .dropdown-menu{
  right: auto;
  left:0;
}
/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  background-color: black;
  height:auto;
	a {
	  color: $gray;
		&:hover {
		  color: $gray-darker;
		}
	}
  h2 {
    text-align: left;
  }
  p{
    text-align: center;
    color: $gray-light;
  }
	small {
	  float: left;
	}
	ul {
	  float: right;
	  list-style: none;
		li {
		  float: left;
		  margin-left: 15px;
		}
	}
  .row{
    margin:0;
  }
}

/*miscellaneous*/
.debug_dump{
  clear:both;
  float:left;
  width:100%;
  margin-top:45px;
  @include box-sizing;
}

/*sidebar*/
aside{
  section.user_info{
    margin-top:20px;
  }
  section{
    padding: 10px 0;
    margin-top: 20px;
    &:first-child{
      border:0;
      padding-top:0;
    }
    span{
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1{
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/*forms*/
input, textarea, select, .uneditable-input{
  border:1px solid #bbb;
  width:100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input{
  height: auto !important;
}

#error_explanation{
  color:red;
  ul{
    color:red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors{
  @extend .has-error;
  .form-control{
    color: $state-danger-text;
  }
}

.checkbox{
  margin-top:-10px;
  margin-bottom:  10px;
  span{
    margin-left: 20px;
    font-weight: normal;
  }
}

/* title order */

.buyer, .address, .agent, .lender, .title{
}

/* brokerage */
.brokerage, .agents {
  text-align: center;
}

/*agent*/
.agent-show{
  text-align: center;
}

/*orders*/
.title-order{
  border-bottom: 1px solid $gray-medium-light;
}

/* Home */
#home-banner, #buttons{
  margin: 10px 0;
  .col-md-6{
    margin-top:10px;
  }
}

#home {
  background-color: #fff;
}

#home p{
  font-size: 16px;
  text-align: justify;
}

/*Our Team*/
#our_team img{
  width:100%;
}

/* Users index */
.user{
  border-bottom: 1px solid $gray-medium-light;
  li{
    list-style-type: none;
  }
}

/* Blog post editor */
.wysihtml5-supported textarea{
  width:100%;
  height:500px;
}

/* Blog index */
#blog-index img{
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.post{
  border-bottom: 1px solid $gray-medium-light;
}

/* Title order index */
.search{
  border-bottom: 1px solid $gray-medium-light;
  margin-bottom: 10px;
}
#edit{
  padding-bottom: 10px;
}